/* Hero Section */
.hero-section-poster {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  object-position: 30% 200%;
}

.hero-section-overlay {
  position: absolute;
  top: 22%;
  left: 12.5%;
  width: 75%;
}

.hero-title-wrapper {
  position: relative;
  display: inline-block;
}

.hero-section-orange-animation {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #cf621fe3;
  z-index: 5;
}

.hero-section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.75em
}
